h1 {
    display: none !important;
}

.anchorjs-link {
    display: none;
}

.markdown-body h3 {
    font-size: 5vw;
    text-align: center;
    text-shadow: 2px 2px #24292e;
}

body{
    background-color: black;
    color: #a0a0e0;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 70vh;
}
